@import '../../styles/variable';

#notfound {
	position: relative;
	height: 100vh;
	.notfound {
		position: absolute;
		left: 50%;
		top: 40%;

		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}
.notfound {
	max-width: 410px;
	width: 100%;
	text-align: center;
	.notfound-404 {
		height: 280px;
		position: relative;
		z-index: -1;
		h1 {
			font-family: $font-family, sans-serif;
			font-size: 230px;
			margin: 0px;
			font-weight: 900;
			position: absolute;
			left: 50%;
			color: $color-primary-2;
			-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			transform: translateX(-50%);
		}
	}
	h2 {
		font-family: $font-family, sans-serif;
		color: #000;
		font-size: 24px;
		font-weight: 700;
		text-transform: uppercase;
		margin-top: 60px;
		margin-bottom: 20px;
	}
	p {
		font-family: $font-family, sans-serif;
		color: #000;
		font-size: 14px;
		font-weight: 400;
		margin-bottom: 20px;
		margin-top: 0px;
	}
	a {
		font-family: $font-family, sans-serif;
		font-size: 14px;
		text-decoration: none;
		text-transform: uppercase;
		background: $color-primary-2;
		display: inline-block;
		padding: 5px 30px;
		border-radius: 40px;
		color: #fff;
		font-weight: 700;

		-webkit-box-shadow: 0px 4px 15px -5px $color-primary-2;
		box-shadow: 0px 4px 15px -5px $color-primary-2;
		&:hover {
			color: #fff;
			background-color: #008c77;
		}
	}
}
@media only screen and (max-width: 767px) {
	.notfound {
		.notfound-404 {
			height: 142px;
			h1 {
				font-size: 112px;
			}
		}
	}
}
