@import '../../styles/mixin';
@import '../../styles/variable';

.topic-card {
	img {
		max-width: 364px;
		width: 100%;
		height: 150px;
	}

	@include tablet {
		margin: 0px 4px 0px 10px;
	}

	@include mobile {
		align-items: center;
	}

	.normal-topic__post__title {
		margin-top: 24px;
		margin-bottom: 16px !important;
		font-size: 18px;
		max-width: 364px;
		&:hover {
			color: $color-primary-1;
		}
	}
}
