@import '../../../../../styles/variable';

.layout-common {
	font-family: $font-family-admin;
	.ant-layout-content {
		background-color: $bg-color-primary-1;
	}

	.content {
		height: 100%;
		@include mq('xl') {
			padding: 10px 30px;
		}
		.white-block-content {
			height: 100%;
		}
	}
	.ant-layout-sider {
		min-height: 100vh;
		background-color: #fafafa;
	}
	&.ant-layout.ant-layout-has-sider {
		> .ant-layout-content {
			width: 100%;
		}
		.content {
			width: 100%;
		}
	}
	.header-title {
		color: $color-primary-2 !important;
		font-weight: bold;
	}
}
