@import '../../styles/variable';

.editor-common {
	.quill {
		height: 100%;
		.ql-toolbar {
			&.ql-snow {
				font-family: $font-family-admin;
				border: none;
				border-bottom: 1px solid #ccc;
			}
		}
		.ql-container {
			height: 60%;
			font-family: $font-family-admin;
			&.ql-snow {
				width: 100%;
				border: none;
				border-bottom: 1px solid #ccc;
			}
			.ql-editor {
				min-height: 250px;
			}
			@include mq('xl') {
				width: 80%;
			}
		}
		.ql-blank {
			&::before {
				font-style: normal;
			}
		}
	}
}
